ul.multilanguage {
    padding-left: 0px;
    margin: 0px;
}

li.multilanguage-code {
    cursor: pointer;
    display: inline;
    margin-left: 4px;
}

div#multilanguage-modal {
    display: none;
}

.simple-pages .locale-code {
    opacity: 0.6;
}

.simple-pages #page-hierarchy .locale-code {
    padding-left: 4px;
}
